.carousel-cell {
    width: 50%; /* half-width */
    height: 160px;
    margin-right: 10px;
    background-size: cover;
  }


/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}